extends layout

block content
  h1= title
  p Welcome to #{title}

  table.anime-content
    thead
      tr  
        td id
        td Nombre
        td Genero
        td Creador
    tbody.anime
  script(src="javascripts/main.js")

