extends layout

block content
  h1= title

  form#nuevoanime(class="formulario" action="/" method="POST")
    input#nombre(type="text", name="nombre" placeholder="anime")
    input#genero(type="text", name="genero" placeholder="genero")
    input#creador(type="text", name="creador" placeholder="creador")
    input(type="submit", value="Guardar" name="guardar" class='guardar')
  table.anime-content
    thead
      tr  
        td id
        td Nombre
        td Genero
        td Creador
        td opciones
    tbody.anime
  script(src="javascripts/main.js")

