body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
h1{
  background-color: #ffe9c4;
  padding: 2%;
}

thead{
  background-color: #b4e8f7;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

form{
  background-color: #e5eaee;

  padding: 2%;
  display: flex;
}
form * {
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  flex: 1;
}
.guardar{
  background-color: #04964d;
  color: white;
}
tr {
  display: flex;
  border-bottom: double;
text-justify: auto;
text-align: center;
justify-items: center;
align-items: center;
justify-content: center;
align-content: center;
}
td{
  flex :1;
  font-weight: bold;
  text-justify: auto;
text-align: center;
justify-items: center;
}
table{
  width: 90vw;
}
i{
  font-size: 2em;
  margin: 9px;
}